
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
dist/
build/
.DS_Store
*.log
*.sqlite3
credentials
*.env
*.env.local
.vscode/
.next
migrations
run_migration.sh
debug_metadata.py
kognito-ai.code-workspace
*.cache
*.kilocode
*.kilo    
*.qodo
*.continue
config/neo4j/neo4j.conf
.gemini_interpreter_history
kogniterm_history.json
llm_context.md
.kogniterm
cuda_installer.run
cuda-keyring_1.1-1_all.deb
*.kilo
# Docker Secrets
secrets/
venv
kogninotes-app
.kilo
venv_host